<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="rizon_light_grey">
      <color rgba="0.7 0.7 0.7 1.0"/>
    </material>
    <material name="rizon_dark_grey">
      <color rgba="0.4 0.4 0.4 1.0"/>
    </material>
    <material name="rizon_white">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

</robot>
