<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="aico1">
    <!-- parameters -->
    <xacro:arg name="external_axis_type" default="aico1_4_v1" />
    <xacro:arg name="external_axis_prefix" default="" />
    <xacro:arg name="arm_prefix" default="" />
    <xacro:arg name="robot_sn" default="" />
    <xacro:arg name="load_gripper" default="false" />
    <xacro:arg name="load_mounted_ft_sensor" default="false" />

    <xacro:include filename="$(find flexiv_moveit_config)/srdf/rizon_macro.srdf.xacro" />

    <!-- Arm -->
    <xacro:rizon_srdf arm_prefix="$(arg arm_prefix)" robot_sn="$(arg robot_sn)"
        load_mounted_ft_sensor="$(arg load_mounted_ft_sensor)" use_virtual_joint="false" />

    <!-- Prefixes -->
    <xacro:property name="prefix" value="$(arg arm_prefix)$(arg robot_sn)_" />
    <xacro:property name="external_axis_prefix" value="$(arg external_axis_prefix)" />

    <!-- Virtual Joint and Platform Group -->
    <xacro:if value="${'$(arg external_axis_type)' == 'aico1_4_v1'}">
        <virtual_joint name="virtual_joint" type="fixed" parent_frame="world"
            child_link="${external_axis_prefix}aico1_4_v1_base_link" />
        <group name="${external_axis_prefix}aico1_4_v1_platform_${prefix}arm">
            <chain base_link="${external_axis_prefix}aico1_4_v1_base_link" tip_link="${prefix}flange" />
        </group>
    </xacro:if>
    <xacro:if value="${'$(arg external_axis_type)' == 'aico1_4_v2'}">
        <virtual_joint name="virtual_joint" type="fixed" parent_frame="world"
            child_link="${external_axis_prefix}aico1_4_v2_agv" />
        <group name="${external_axis_prefix}aico1_4_v2_platform_${prefix}arm">
            <chain base_link="${external_axis_prefix}aico1_4_v2_base_link" tip_link="${prefix}flange" />
        </group>
    </xacro:if>

    <!-- Platform Collisions -->
    <xacro:if value="${'$(arg external_axis_type)' == 'aico1_4_v1'}">
        <disable_collisions link1="${prefix}base_link" link2="${external_axis_prefix}aico1_4_v1_link2" reason="Adjacent" />
        <disable_collisions link1="${prefix}base_link" link2="${external_axis_prefix}aico1_4_v1_link1" reason="Never" />
        <disable_collisions link1="${prefix}base_link" link2="${external_axis_prefix}aico1_4_v1_base_link" reason="Never" />
        <disable_collisions link1="${prefix}link1" link2="${external_axis_prefix}aico1_4_v1_link2" reason="Never" />
        <disable_collisions link1="${prefix}link1" link2="${external_axis_prefix}aico1_4_v1_link1" reason="Never" />
        <disable_collisions link1="${prefix}link1" link2="${external_axis_prefix}aico1_4_v1_base_link" reason="Never" />
        <disable_collisions link1="${external_axis_prefix}aico1_4_v1_base_link" link2="${external_axis_prefix}aico1_4_v1_link1" reason="Adjacent" />
        <disable_collisions link1="${external_axis_prefix}aico1_4_v1_base_link" link2="${external_axis_prefix}aico1_4_v1_link2" reason="Never" />
        <disable_collisions link1="${external_axis_prefix}aico1_4_v1_link1" link2="${external_axis_prefix}aico1_4_v1_link2" reason="Adjacent" />
    </xacro:if>

    <xacro:if value="${'$(arg external_axis_type)' == 'aico1_4_v2'}">
        <disable_collisions link1="${prefix}base_link" link2="${external_axis_prefix}aico1_4_v2_link1" reason="Adjacent" />
        <disable_collisions link1="${prefix}base_link" link2="${external_axis_prefix}aico1_4_v2_base_link" reason="Never" />
        <disable_collisions link1="${prefix}base_link" link2="${external_axis_prefix}aico1_4_v2_neck_link" reason="Never" />
        <disable_collisions link1="${prefix}base_link" link2="${external_axis_prefix}aico1_4_v2_head_link" reason="Never" />

        <disable_collisions link1="${prefix}link1" link2="${external_axis_prefix}aico1_4_v2_link1" reason="Never" />
        <disable_collisions link1="${prefix}link1" link2="${external_axis_prefix}aico1_4_v2_base_link" reason="Never" />
        <disable_collisions link1="${prefix}link1" link2="${external_axis_prefix}aico1_4_v2_neck_link" reason="Never" />
        <disable_collisions link1="${prefix}link1" link2="${external_axis_prefix}aico1_4_v2_head_link" reason="Never" />

        <disable_collisions link1="${external_axis_prefix}aico1_4_v2_base_link" link2="${external_axis_prefix}aico1_4_v2_link1" reason="Adjacent" />
        <disable_collisions link1="${external_axis_prefix}aico1_4_v2_base_link" link2="${external_axis_prefix}aico1_4_v2_neck_link" reason="Never" />
        <disable_collisions link1="${external_axis_prefix}aico1_4_v2_link1" link2="${external_axis_prefix}aico1_4_v2_neck_link" reason="Adjacent" />
        <disable_collisions link1="${external_axis_prefix}aico1_4_v2_neck_link" link2="${external_axis_prefix}aico1_4_v2_head_link" reason="Adjacent" />
    </xacro:if>

    <!-- Load gripper -->
    <xacro:if value="$(arg load_gripper)">
        <xacro:include filename="$(find flexiv_moveit_config)/srdf/grav.srdf.xacro" />
        <xacro:grav_srdf arm_prefix="$(arg arm_prefix)" robot_sn="$(arg robot_sn)"
            load_mounted_ft_sensor="$(arg load_mounted_ft_sensor)" />
    </xacro:if>

</robot>
