<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="grav_srdf" params="prefix">

        <group name="${prefix}grav_gripper">
            <link name="${prefix}grav_base_link" />
            <link name="${prefix}grav_tcp" />
            <link name="${prefix}closed_fingers_tcp" />
            <link name="${prefix}right_finger_tcp" />
            <link name="${prefix}left_finger_tcp" />
            <link name="${prefix}left_outer_bar" />
            <link name="${prefix}left_inner_bar" />
            <link name="${prefix}left_finger_mount" />
            <link name="${prefix}left_finger_tip" />
            <link name="${prefix}right_outer_bar" />
            <link name="${prefix}right_inner_bar" />
            <link name="${prefix}right_finger_mount" />
            <link name="${prefix}right_finger_tip" />
            <joint name="${prefix}finger_width_joint" />
        </group>
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}grav_tcp" reason="Never" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}closed_fingers_tcp" reason="Never" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}right_finger_tcp" reason="Never" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}left_finger_tcp" reason="Never" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}left_outer_bar" reason="Adjacent" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}left_inner_bar" reason="Adjacent" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}right_outer_bar" reason="Adjacent" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}right_inner_bar" reason="Adjacent" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}left_finger_mount" reason="Never" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}left_finger_tip" reason="Never" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}right_finger_mount" reason="Never" />
        <disable_collisions link1="${prefix}grav_base_link" link2="${prefix}right_finger_tip" reason="Never" />
        <disable_collisions link1="${prefix}left_outer_bar" link2="${prefix}left_finger_mount" reason="Adjacent" />
        <disable_collisions link1="${prefix}left_inner_bar" link2="${prefix}left_finger_mount" reason="Adjacent" />
        <disable_collisions link1="${prefix}left_outer_bar" link2="${prefix}left_finger_tip" reason="Never" />
        <disable_collisions link1="${prefix}left_inner_bar" link2="${prefix}left_finger_tip" reason="Never" />
        <disable_collisions link1="${prefix}left_finger_mount" link2="${prefix}left_finger_tip" reason="Adjacent" />
        <disable_collisions link1="${prefix}right_outer_bar" link2="${prefix}right_finger_mount" reason="Adjacent" />
        <disable_collisions link1="${prefix}right_inner_bar" link2="${prefix}right_finger_mount" reason="Adjacent" />
        <disable_collisions link1="${prefix}right_outer_bar" link2="${prefix}right_finger_tip" reason="Never" />
        <disable_collisions link1="${prefix}right_inner_bar" link2="${prefix}right_finger_tip" reason="Never" />
        <disable_collisions link1="${prefix}right_finger_mount" link2="${prefix}right_finger_tip" reason="Adjacent" />
        <disable_collisions link1="${prefix}left_finger_tip" link2="${prefix}closed_fingers_tcp" reason="Adjacent" />
        <disable_collisions link1="${prefix}right_finger_tip" link2="${prefix}closed_fingers_tcp" reason="Adjacent" />

    </xacro:macro>
</robot>
